button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  background-color: rgb(26,26,28);
  border: none;
}

.m-icon:hover {
  height: 26px;
  width: 26px;
}

