img {
  height: 20px;
  width: 20px;
}

header {
  width: 500px;
  padding: 20px;
}

.credit {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 5px;
}

.link {
  display: flex;
  height: 30px;
  width: 150px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 5px;
  background-color: rgb(41, 41, 44);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
}