* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
  background-color: rgb(26,26,28);
  height: 100%;
}

#root {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  width: 1650px;
  margin: auto;
  color: rgb(238,235,239);
}

.edit-container {
  flex: 1;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.resume-container {
  padding: 50px;
  flex: 2;
  background-color: rgb(42, 42, 44);
}

@media (max-width: 1920px) {
  #root {
    gap: 50px;
  }

  .edit-container {
    max-width: 600px;
  }

  .resume-container {
    max-width: 700px;
  }
}