.resume {
  position: sticky;
  margin: 50px 50px;
  top: 50px;
  height: calc(100vh - 100px);
  background-color: rgb(238,235,239);
}

.resume-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 10px;
  background-color: rgb(26,26,28);
}

.resume-name {
  font-weight: bold;
  font-size: 48px;
  margin-top: 10px;
}

.resume-contact-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  justify-content: space-evenly;
  font-weight: bold;
  width: 100%;
  font-size: 14px;
  padding: 15px 0px;
}

.resume-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(238,235,239);
  gap: 5px;
}

.resume-contact-container .resume-contact:nth-child(4) {
  border: none;
}