.resume {
  display: flex;
  flex-direction: column;
  position: sticky;
  gap: 30px;
  margin: 50px 50px;
  top: 50px;
  height: calc(100vh - 100px);
  background-color: rgb(238,235,239);
}

.resume-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 10px;
  background-color: rgb(26,26,28);
}

.resume-name {
  font-weight: bold;
  font-size: 48px;
  margin-top: 10px;
}

.resume-contact-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  justify-content: space-evenly;
  font-weight: bold;
  width: 100%;
  font-size: 14px;
  padding: 15px 0px;
}

.resume-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(238,235,239);
  gap: 5px;
}

.resume-contact-container .resume-contact:nth-child(4) {
  border: none;
}

.resume-education-section,
.resume-work-section {
  display: flex;
  flex-direction: column;
  color: rgb(26,26,28);
  margin: 0px 50px;
  gap: 20px;
}

.resume-title {
  width: calc(100% - 20px);
  text-align: center;
  padding: 10px;
  border: 2px solid rgb(26,26,28);
}

.resume-work-info-container,
.resume-edu-info-container {
  gap: 5px;
  font-size: 18px;
}

.resume-work-info-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr flex;
}

.resume-edu-info-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
}

.resume-edu-school,
.resume-work-company {
  font-weight: bold;
}

.resume-edu-description,
.resume-work-description {
  grid-column: 2;
}

@media (max-width: 1920px) {
  .resume {
    gap: 30px;
    margin: 50px 50px;
    top: 50px;
    height: calc(100vh - 100px);
  }

  .resume-header {
    height: 150px;
    gap: 0px;
  }

  .resume-name {
    font-size: 34px;
  }

  .resume-position {
    font-size: 14px;
  }

  .resume-title {
    padding: 6px;
    font-size: 16px;
  }

  .resume-contact-container {
    font-size: 10px;
  }

  .resume-work-info-container,
  .resume-edu-info-container {
    font-size: 14px;
  }

}
